.messages{
    min-height:400px;
margin-bottom: 10px;border: 1px solid gainsboro;
}
.warper{clear: both;margin: 10px;display: block;
min-height: 32px;
}
.voiceItem{
    background-color:skyblue;
    min-width: 100px;
    min-height: 32px;
    border-radius: 3px;
    float: right;
    cursor: pointer;
    line-height: 32px;
    text-indent: 10px;
}
audio{display: none;}
.error{color: red;font-size: small;text-align: center;margin-top: 10px;}
.contrs{text-align: center;}